/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  /* Colors */
  --black: #464646;
  --blue: #2a7ae4;
  --blue-primary-hover-desktop: #5595e9;
  --blue-secondary-hover-desktop: #d4e4fa;
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --ligth-blue: #eaf2fd;
  --white: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  line-height: 1;
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

img {
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
}
.menu__header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
}
.menu nav {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  list-style: none;
}
.menu__list__item {
  font-size: 1.6rem;
  margin-right: 3rem;
}
.menu__list__item:last-child {
  font-weight: bold;
}
.menu__list__item a {
  text-decoration: none;
  transition: all 0.6s ease;
}

.menu__list__item a:hover {
  padding: 6px;
  background-color: #60d9dd69;
  border-radius: 15px;
}

.menu__list__item__contato {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  display: none;
}

/*Sección Title*/

.title__div {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 3.2rem 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 4.4rem;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
}
.title__profile {
  border-radius: 50%;
  width: 37rem;
  height: 37rem;
}

.title__bio {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.title__subsection {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 100;
}

.title__network {
  padding: 1.5rem 0;
  display: flex;
  gap: 2.2rem;
  list-style: none;
}

.title__network__item a {
  color: var(--black);
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.6s ease;
}

.title__network__item a:hover {
  padding: 6px;
  background-color: #60d9dd69;
  border-radius: 15px;
}

/*Sección About*/

section.about {
  background-color: var(--ligth-blue);
  padding: 4.4rem 0;
}
.about__container {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  color: var(--black);
}
.about__title {
  font-size: 3.2rem;
  line-height: 2.5rem;
  margin-bottom: 16px;
}

.about__paragraph {
  font-weight: 100;
  font-size: 1.6rem;
  width: 70%;
  line-height: 2.5rem;
}
.about__paragraph p {
  margin: 1rem 0;
}
.about__paragraph + .about__paragraph {
  margin-top: 12px;
}

/* Seccion Skills */
section.skills {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  color: var(--black);
}
.skills__title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 4.2rem;
  margin-bottom: 3rem;
}
.skills__line,
.hobbies__line {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 17.6rem;
  grid-template-columns: repeat(auto-fit, minmax(17.6rem, 1fr));
}

.skills__box,
.hobbies__box {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.skills__img i,
.hobbies__box i {
  color: var(--blue);
  font-size: 3rem;
}
.skills__line ul,
.hobbies__line ul {
  padding: 0;
}
.skills__box ul li:last-child,
.hobbies__box ul li:last-child {
  margin-top: 12px;
  font-weight: 700;
  font-size: 1.6rem;
}

/*Sección Hobbies*/

section.hobbies {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  color: var(--black);
}
.hobbies__title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 4.2rem;
  margin-bottom: 3rem;
}
/* Experiencia Académica*/

section.academic {
  padding: 6.2rem 0;
  background-color: var(--ligth-blue);
  color: var(--black);
  margin-top: 4.2rem;
}
.academic__title {
  text-align: center;
  margin-bottom: 3rem;
}
.academic__courses {
  width: 90%;
  margin: 0 auto;
  max-width: 144rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: baseline;
  flex-grow: 1;
}

.academic__courses__list {
  padding: 0;
}
.academic__courses__item__img {
  background-color: var(--white);
  padding: 8rem;
  text-align: center;
}

.academic__courses__item__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.academic__courses__item__subtitle {
  font-size: 1.6rem;
}

/* experiencia*/

section.experience {
}

/*Contacto*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */
/* Desktop */
@media screen and (max-width: 1440px) {
  .menu__header {
    font-size: 1.4rem;
  }
  .menu__list__item {
    font-size: 1.4rem;
    margin-right: 1.4rem;
  }

  .menu__list__item__contato {
    font-size: 1.5rem;
  }

  .title__network__item a {
    font-size: 1.5rem;
  }
}

/* Table */
@media screen and (max-width: 768px) {
  section.menu {
    width: 92%;
    max-width: 144rem;
    margin: 0 auto;
  }

  .menu__list {
    display: none;
  }
  .menu__header {
    font-size: 1.6rem;
  }

  .menu__list__item__contato {
    display: block;
    font-size: 1.6rem;
  }

  .title__container {
    width: 60%;
  }
  .title__profile {
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
  }

  .title__bio {
    font-size: 2rem;
    font-weight: 700;
  }

  .title__subsection {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .menu__list__item {
    gap: 1rem;
  }
  .title__network__item a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
  }
  .about__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 16px;
  }
  .about__paragraph {
    width: 100%;
  }

  .skills__title {
    font-size: 1.8rem;
  }
  .hobbies__title {
    font-size: 1.8rem;
  }

  .academic__courses__item__img {
    padding: 4rem 6.2rem;
  }
  .academic__courses__item__title {
    font-size: 1.6rem;
  }

  .academic__courses__item__subtitle {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 88.3rem) {
  .title__profile {
    width: 20rem;
    height: 20rem;
  }
  .title__network__item a {
    margin-right: none;
  }
}

/* Mobile */

@media screen and (max-width: 563px) {
  h3 {
    font-size: 1.4rem;
  }
  .menu__list__item__contato {
    font-weight: 100;
    font-size: 1.4rem;
  }
  .title__container {
    width: 100%;
  }
  .title__div {
    flex-direction: column;
    align-items: flex-start;
    display: block;
  }
  .title__network__item {
    justify-content: space-between;
    font-weight: 400;
  }
  .title__network {
    gap: 1.1rem;
  }
  .skills__box {
    grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  }
  .academic__courses {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(22.3rem, 1fr));
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 2.2rem;
  }

  section.menu {
    width: 98%;
  }
  .menu {
    padding: 1.6rem;
  }
  .menu__header {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .menu__list__item__contato {
    display: block;
    font-size: 1.4rem;
  }

  .title__container {
    padding: 0;
    width: 100%;
  }

  .title__profile {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
  }

  .title__bio {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .title__network {
    gap: 1.4rem;
  }
  .title__network__item a {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .title__network__item img {
    width: 0.9rem;
  }
  .skills__line,
  .hobbies__line {
    grid-template-columns: repeat(2, 1fr);
  }

  .academic__courses {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(22.3rem, 1fr));
  }
}
